@page "/allprojects"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TrialProject.Shared
@using TrialProject.Shared.DTO;
@inject NavigationManager NavManager
@* @attribute [Authorize] *@
@inject HttpClient Http

<PageTitle>We all just having the most fun</PageTitle>

<h1>Are you having fun? </h1>

<p>If you're not I'm gonna kill you uwu</p>

@if (projectsList == null)
{
    <p><em>Loading...</em></p>
}
else
{
     <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Teacher</th>
                <th>Discription</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proj in projectsList)
            {
                <tr>
                    <td>@proj.name</td>
                    <td>@proj.SupervisorName</td>
                    <td>@proj.shortDescription</td>
                </tr>
            }
        </tbody>
    </table>
}

<AuthorizeView Roles="supervisor">
        
    <Authorized>
        <button class="OurButton" @onclick="NavToNewProject">Create New</button>
    </Authorized>
</AuthorizeView>

@code {

    private async void NavToNewProject()
    {
        NavManager.NavigateTo("/projects/new");
    }

    private ProjectPreviewDTO[]? projectsList;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            projectsList = await Http.GetFromJsonAsync<ProjectPreviewDTO[]>("Project");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
