:root { 
    --clwidth: 300px;
    --crwidth: 200px;
} 


body{
    display: flex;
}

textarea{
    height: 40vw;
    background-color: #fff;
    border: #fff;
    resize: none;
    max-height: 400px;
    width: 40vw;
}

.top{
    background-color: black;
    width: auto;
    height: 250px;
    display: grid;
    align-content: center;
    place-content: space-around;
}

.content_left{
    margin-left: 10%;
    width: 50%;
}

.content_center{
    width: 20%;
}

.content_right{
    margin-right: 5%;
    width: 30%;
    height: auto;
    background-color: palevioletred;
}

h1{
    color: #fff;
}