:root { 
    --clwidth: 300px;
    --crwidth: 200px;
} 


body{
    display: flex;
}

textarea{
    height: 40vw;
    background-color: #fff;
    border: #fff;
    resize: none;
    max-height: 400px;
    width: 40vw;
}

.top{
    background-color: black;
    width: auto;
    height: 250px;
    display: grid;
    align-content: center;
    place-content: space-around;
}

.topfiller{
    height: 25px;
}

.content_left{
    margin-left: 10%;
    width: 50%;
}

.content_center{
    width: 20%;
}

.content_right{
    width: 30%;
    height: auto;
    background-color: lightgray;
    display: block;
}

h1{
    color: #fff;
}

h4{
    margin-top: 8%;
}

h5{
    margin-top: 8%;
}

.profilePic{
    width: 150px;
    height: 150px;
    background-color: rgb(0, 84, 211);
    border-radius: 100pc;
    float: right;
    margin: 5%;
}

.filler{
    height: 175px;
}

.abouttitle{
    margin: 7%;
    float: left;
}

h6{
    margin-top: 5%;
}

.aboutcontainer{
    margin-left: 5%;
}