@page "/project/edit/{id:int}"
@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject NavigationManager NavManager
@inject CurrentUser currentuser

<PageTitle>Edit Project</PageTitle>

@if (project == null)
{
	<p>No project found!</p>
} else
{
	<AuthorizeView Roles="supervisor">
		<Authorized>
			<div>
			<h1>@project.name</h1>

			<p>By @project.SupervisorName</p>

			<p>@project.shortDescription</p>

				<form action="/action_page.php" @onsubmit="NavToDetails">
					<!--input type="text" id="pdes" name="projdes" value=@project.longDescription-->
					<textarea id="pldes" name="projlongdes" class="txta"  @bind="@inputLongDes" @oninput="OnInputLongDesEvent"/>
            
					<div >
						<input type="submit" class="OurButton" value="Save">
						<input type="reset" class="OurButton" value="Cancel" @onclick="NavToDetails">
					</div>
				</form>
			</div>
		</Authorized>
		<NotAuthorized>
			<p>You are not authorized to edit this project!</p>
		</NotAuthorized>
	</AuthorizeView>
}



<style>
	form {
		width: 50vw;
	}

    .txta {
        width: 100%;
        height: 40vh;
    }
</style>

@code {
	[Parameter]
	public int id { get; set; }
	private string inputLongDes = null!;

	private ProjectDescDTO project = new ProjectDescDTO{ID = 5, name = "Uwu", SupervisorName = "Carl", shortDescription = "This is the short description", longDescription = "This is the loooooooooooooooooooooooooooooooooooooooooo ooooooooooooooooooooooooo ooooooooooooooooooooooooooo oooooooooooooooo ooooooooooo ooooooooooooooooooooooo oooooooooooooooooooooooooooooooong description"};

	private void OnInputLongDesEvent(ChangeEventArgs changeEvent)
	{
		inputLongDes = (string)changeEvent.Value!;
	}


	protected override async Task OnInitializedAsync()
	{
		try
		{
			// Get project by ID
			//var rep = new TaskRepository();
			//project = rep.ReadProjectById(id);
			inputLongDes = project.longDescription!;
		}
		catch
		{
			// Exception handling

		}
		await Task.FromResult(0);
	}

	private void NavToDetails()
	{
		NavManager.NavigateTo("/project/" + id);
	}
}