<div class = "homepageContainer">
    <p>Have you heard about our lord and saviour TheStart? It is the best way of getting a partnership with a supervisor!!!</p>

    <div class = "homepageRow">
        <p>slkdjfahsldkfjhalskdjfhlak</p>
    </div>

    <div class = "homepageRow">

    </div>


</div>