
.searchBar {
    width: 100%;
    margin-bottom: 20px;
}

.searchBtn {
    float: right;
    border-radius: 30pt;
    border-color: transparent;
    margin-top: 7px;
    height: 50px;
    width: 50px;
}



#searchInput {
    border-radius: 30pt;
    width: calc(100% - 60px);
    border-color: transparent;
}


.white{
    background-color: white;
}

.projectContainerLeft {
    width: 33%;
}

.text {
    height: 1em;
}

.resultPane {
    width: 60%;
    max-width: 800px;
}

.center {
    display: flex;
    justify-content: center;
}
.centerText {
    text-align: center;
}


@media only screen and (max-width: 950px) {
    .resultPane {
      width: 100%;
    }
}

