

.searchInput {
    border-radius: 1%;
}

#searchInput {
    border-radius: 30pt;
    width: 94%;
    float: left;
}

.searchBtn {
    float: right;
    border-radius: 30pt;
    background-color: transparent;
    height: inherit;
    width: 5%;
}