.vertical {
    display: block;
}

.center {
    justify-content: center;
    text-align: center;
}

.logo {
    font-size: 15vw;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1vw;
    word-spacing: -8vw;
}

.red {
    color: #FF2E3F;
}

.grey {
    color: #333138;
}
