@using TrialProject.Shared
@using TrialProject.Shared.DTO
@inject List<ProjectPreviewDTO> DTOs
@using System.Collections.Generic
@inject NavigationManager NavigationManager

<h1>Welcome to TheStart of a great project or thesis!</h1>

<div class = "searchBar" id = "bar">
    <input type="text" id="searchInput" class = "white" placeholder="Search" @bind="@searchInput" @onkeyup="@Enter">
    <button title="searchButton" class="white searchBtn" @onclick="Search">
        <span class="oi oi-magnifying-glass"></span>
    </button>
</div>

<HomepageContentWelcome />


@code {
    private string searchInput = "";
    private string searchOutput = "";
    
    private void Search()
    {
        if (!string.IsNullOrEmpty(searchInput))
        {
            searchOutput = searchInput;
            
            var uri = $"{NavigationManager.BaseUri}project/search/{searchOutput}";
            NavigationManager.NavigateTo(uri);
        }
    }
    
    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            Search();
        }
    }
}
