<div class = "homepageContainer">
    <p>Have you heard about our lord and saviour TheStart? It is the best way of getting a partnership with a supervisor!!!</p>

    <div class = "homepageRow">
        <div class = "homepageRowContent test">
            <p>omg en ting 0o0</p>
        </div>
        <div class="homepageRowContent">
            Omg noget andet
        </div>
    </div>

    <div class = "homepageRow">

    </div>


</div>