<div class="center vertical"> 
    <p>It's said that there are many </p>
    <div class = "horizontal">
        <span class="grey logo"> The </span>
        <span class="red logo"> Start</span>
    </div>
    <p>adlsfkjaæsdlfjæk</p>
</div>