:root {
    --btnsize: 50px;
}


.searchBar {
    width: 100%;
    margin:auto;
    vertical-align: middle;

}

.searchBtn {
    float: right;
    border-radius: 30pt;
    background-color: lightgray;
    border-color: transparent;
    margin-top: 7px;
    height: 50px;
    width: 50px;
}

#searchInput {
    border-radius: 30pt;
    width: calc(100% - 60px);
    border-color: transparent;
    background-color: lightgray;
}

.projectContainer {
    width: 100%;
}

.projectContainerLeft {
    
}

.projectContainerRight {

}

