@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4 auth">
        <a class = "logoText" href="">
            <span class = "whiteT logoT">The</span>
            <span class = "redT logoT">Start</span>
        </a>
         <LoginDisplay />
            
    </div>
    <div class = "menu">
        <div class = "menuitem">
            <NavLink class="nav-link" href="havefun">
                <span class="oi oi-box" aria-hidden="true"></span> Be Cute ayo
            </NavLink>
        </div>
        
        <p>aslkdjfhalskdjfhalksjdfhlkasjdhflkasjdhflkajsdfadsjfhalsdkjfhalskdjfhaksjdfhlaksjdfh</p>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
