<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Ayo That Site Yo
             <span class="Client\wwwroot\TheStartSmall.png"></span> <!--TODO: Logo kommer ikke ind på siden-->
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allprojects">
                <span class="oi oi-box" aria-hidden="true"></span> Be Cute ayo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects/3">
                <span class="oi oi-box" aria-hidden="true"></span> Project Page Demo
            </NavLink>
        </div>
        <AuthorizeView>
        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profilePage">
                <span class="oi oi-person" aria-hidden="true"></span> My Profile
            </NavLink>
        </div>
        </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
