@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TrialProject.Shared
@using Shared
@inject CurrentUser currentuser
@inject HttpClient Http


<AuthorizeView>
    <NotAuthorized>
        <h5>Welcome, John Doe (please log in to proceed to your profile page)</h5>
    </NotAuthorized>
    <Authorized>

        <div class="top_background">
            <div class="profile_in_short">
                <img src="" alt="profile picture">
                <h5>@context.User.Identity?.Name</h5>
            </div>
        </div>

        <p role="status">Please specify whether you are a student or a professor:</p>

        <select id="role"  onchange="@SetRole">
            @if(!currentuser.isSupervisor){
                <option value="student" selected>Student</option>
                <option value="professor">Supervisor</option>
            } else {
                <option value="student">Student</option>
                <option value="professor" selected>Supervisor</option>
            }
        </select>
        @if(currentuser.isSupervisor){
            <p role="status">Hello, Supervisor Kenobi - u look amaze </p>
        }

        <div>
            <h5>Bio</h5>
            <textarea name="bio" id="profile_bio" cols="30" rows="10" disabled="true">lookin for a hottie boytoy</textarea>
            <button>Edit</button>
        </div>

        <div>
            <h5>About</h5>
            
        </div>

        <div>
            <h5>Contact</h5>
            <p>Email: tempsnapelamail.com</p>
            <p>Phone: </p>
            <p></p>
            
        </div>

        
        <div>
            <h5>Prevoius Projects</h5>
            
        </div>


    </Authorized>
</AuthorizeView>

@code {
    private void SetRole(ChangeEventArgs e){
        if(e.Value.ToString() == "student") {currentuser.isSupervisor = false;}
        else currentuser.isSupervisor = true;
    }
    private void SetRoleAsStudent() => currentuser.isSupervisor = false;
    private void SetRoleAsSupervisor() => currentuser.isSupervisor = true;
}