<div class = "menu">
    <div class = "menuitem home">
        <NavLink class="nav-link" href="">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div class = "menuitem">
        <NavLink class="nav-link" href="allprojects">
            <span class="oi oi-box" aria-hidden="true"></span> All projects
        </NavLink>
    </div>
</div>