@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="topRow">
    <a class = "logoText" href = "">
        <span class = "whiteT logoT">The</span>
        <span class = "redT logoT">Start</span>
    </a>
    <div class = "right">
        <AuthorizeView>
            <Authorized>
                <button class = "topBtn" @onclick="gotoprofile">
                    <div class="icon">
                        <span class="oi oi-person" aria-hidden="true"></span>
                    </div>
                    <div class = "noPadding">
                        <p>@context.User.Identity?.Name</p>
                    </div>
                </button>
                <button class="topBtn" @onclick="BeginLogout">
                    <div class="icon">
                        <span class="oi oi-account-logout" aria-hidden="true"></span>
                    </div>
                    <div class = "noPadding">
                        <p>Log out</p>
                    </div>
                </button>
            </Authorized>
            <NotAuthorized>
                <a class = "topBtn login" href="authentication/login">    
                    <div class="icon">
                        <span class="oi oi-account-login" aria-hidden="true"></span>
                    </div>
                    <div class = "noPadding">
                        <p>Log in</p>
                    </div>
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code{

    private void gotoprofile() {
        Navigation.NavigateTo("profilePage");
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
