.topRow {
    background-color: #333138;

    display: flex;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}


.whiteT {
    color: white;
}

.redT {
    color: #FF2E3F;
}

.logoT {
    letter-spacing: -2px;
    word-spacing: -2px;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

.right {
    display: flex;
    align-items: center;
}

.noPadding {
    height: 1em;
}

.topBtn {
    text-align: center;
    align-items: center;
    color: white;
    height: calc(100% - 20px);
    background-color: transparent;
    border-color: transparent;
    border-radius: 10pt;
}

.topBtn:hover {
    color: #FF2E3F;
}


.icon {
    border-color: #FF2E3F;
    border-radius: 30pt;
}
